.console {
  background: linear-gradient(-90deg, #0d1c19 1px, transparent 1px), linear-gradient(#0d1c19 1px, transparent 1px), #000a08;
  background-size: 40px 40px;
  background-size: 4vw 4vw;
}
#main, #console {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 400ms cubic-bezier(0.7, 0, 0.84, 0), transform 400ms cubic-bezier(0.7, 0, 0.84, 0);
}
#main {
  z-index: 1;
  min-height: 100%;
  background-color: #000;
  overflow: auto;
}
.console #main {
  z-index: 0;
  opacity: 0;
  transform: scale(2);
}
#console {
  font-size: 10px;
  font-size: 1vw;
  opacity: 0;
  transform: scale(0.5);
  transition-delay: 300ms;
  user-select: none;
}
.console #console {
  opacity: 1;
  transform: none;
}
.console-block {
  position: absolute;
  left: 100%;
  width: 6em;
  height: 6em;
  box-shadow: 0 0 1.2em #005f4c;
  background-color: #002921;
  animation-name: block;
  animation-duration: 48s;
  animation-iteration-count: infinite;
}
.console-block.console-delay-1 {
  animation-delay: -12s;
}
.console-block.console-delay-2 {
  animation-delay: -24s;
}
.console-block.console-delay-3 {
  animation-delay: -36s;
}
.console-centerpiece {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 0;
  padding-top: 60%;
  transform: translate(-50%, -50%);
}
.console-centerpiece::before, .console-centerpiece::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  border: 0.8em solid #005f4c;
  border-left-width: 0;
  border-bottom-width: 0;
  border-radius: 0 100% 0 0;
  opacity: 0.6;
  animation-name: ring;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: bottom left;
}
.console-centerpiece::after {
  padding: 0.3em;
  animation-delay: -4s;
  animation-direction: reverse;
}
.console-ring, .console-ring::before, .console-ring::after {
  position: absolute;
  border: 0.4em solid #005f4c;
  border-radius: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.console-ring {
  padding: 1em;
}
.console-ring::before, .console-ring::after {
  content: '';
  display: block;
}
.console-ring::before {
  margin: -2em;
  opacity: 0.2;
}
.console-ring::after {
  margin: 1em;
  opacity: 0.8;
}
.console-ring div {
  position: relative;
  width: 100%;
  height: 100%;
}
.console-ring img {
  position: absolute;
  width: 100%;
  height: 100%;
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.console-ring img.trim {
  opacity: 0.6;
  animation-duration: 8s;
}
.console-ring img.text {
  animation-duration: 40s;
  animation-direction: reverse;
}
.console-ring img.logo {
  z-index: -1;
  opacity: 0.2;
  animation-duration: 24s;
}
.console-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 0;
  padding-top: 50%;
  transform: translate(-50%, -50%);
}
.console-grid {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Share Tech Mono', monospace;
}
.console-cell {
  position: relative;
  float: left;
  width: 25%;
  height: 50%;
}
.console-cell-outer, .console-cell-inner {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  bottom: 0.5em;
  left: 0.5em;
  border: 1px solid;
  box-shadow: 0 0 1.2em #adebde inset;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 600ms, transform 600ms, box-shadow 600ms;
}
.console .console-cell-outer, .console .console-cell-inner {
  box-shadow: 0 0 0.1em #adebde inset;
  opacity: 1;
  transform: none;
}
.console-cell-outer {
  border-color: #adebde;
  background-color: rgba(82, 122, 114, 0.2);
}
.console-delay-0 .console-cell-outer {
  transition-delay: 800ms;
}
.console-delay-1 .console-cell-outer {
  transition-delay: 850ms;
}
.console-delay-2 .console-cell-outer {
  transition-delay: 900ms;
}
.console-cell-inner {
  border-color: #527a72;
  overflow: hidden;
}
.console-delay-0 .console-cell-inner {
  transition-delay: 1000ms;
}
.console-delay-1 .console-cell-inner {
  transition-delay: 1050ms;
}
.console-delay-2 .console-cell-inner {
  transition-delay: 1100ms;
}
.console-cell ul {
  list-style-type: square;
  margin: 0.5em 1em 0.5em 2em;
  padding: 0;
  color: #adebde;
  font-size: 1.2em;
  line-height: 1.1;
}
.console-cell-outer::after {
  content: 'JOIN';
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(82, 122, 114, 0.8);
  color: #adebde;
  text-align: center;
  font: bold 3em/6 Audiowide, cursive;
  cursor: pointer;
}
.console-cell-outer:hover::after {
  display: block;
}
.console-cell.active .console-cell-outer::after {
  background-color: rgba(82, 122, 114, 0.6);
  display: block;
  cursor: default;
  animation-name: blink;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
}
.console-cell.selected .console-cell-outer::after {
  content: '\2714';
  background-color: rgba(130, 140, 103, 0.6);
  display: block;
  font-size: 6em;
  line-height: 3;
  cursor: default;
}
.console-status {
  position: absolute;
  bottom: 1em;
  left: 50%;
  width: 24em;
  max-height: 4em;
  margin: 0 -12em;
  border-radius: 0.5em;
  box-shadow: 0 0 0.2em 0.1em #88995c;
  padding: 0.5em;
  background-color: #88995c;
  color: #000a08;
  text-align: center;
  font: bold 2em/2 'Share Tech Mono', monospace;
  white-space: pre-line;
  opacity: 0.9;
  cursor: default;
  transition: box-shadow 200ms, background-color 200ms, opacity 200ms;
}
.console-status.error {
  box-shadow: 0 0 0.2em 0.1em #99745c;
  background-color: #99745c;
}
.console-status:hover {
  opacity: 0.3;
}
@keyframes blink {
  0% {
    color: rgba(173, 235, 222, 1);
  }
  50% {
    color: rgba(173, 235, 222, 0.2);
  }
}
@keyframes block {
  0% {
    top: 20%;
    left: -20%;
    opacity: 0;
    transform: rotate(0deg);
  }
  10% {
    top: 20%;
    left: 60%;
    opacity: 0.6;
    transform: rotate(0deg);
  }
  19% {
    top: 20%;
    left: 100%;
    opacity: 0;
    transform: rotate(0deg);
  }
  20% {
    top: 100%;
    left: 90%;
    opacity: 0;
    transform: rotate(360deg);
  }
  29% {
    top: -20%;
    left: 90%;
    opacity: 0.6;
    transform: rotate(360deg);
  }
  30% {
    top: -20%;
    left: 10%;
    opacity: 0;
    transform: rotate(720deg);
  }
  40% {
    top: 30%;
    left: 10%;
    opacity: 0.6;
    transform: rotate(720deg);
  }
  49% {
    top: 100%;
    left: 10%;
    opacity: 0;
    transform: rotate(720deg);
  }
  50% {
    top: 80%;
    left: 100%;
    opacity: 0;
    transform: rotate(1080deg);
  }
  59% {
    top: 80%;
    left: -20%;
    opacity: 0.6;
    transform: rotate(1080deg);
  }
  60% {
    top: -20%;
    left: 60%;
    opacity: 0;
    transform: rotate(1440deg);
  }
  69% {
    top: 100%;
    left: 60%;
    opacity: 0.6;
    transform: rotate(1440deg);
  }
  70% {
    top: 40%;
    left: 100%;
    opacity: 0;
    transform: rotate(1800deg);
  }
  80% {
    top: 40%;
    left: 50%;
    opacity: 0.6;
    transform: rotate(1800deg);
  }
  89% {
    top: 40%;
    left: -20%;
    opacity: 0;
    transform: rotate(1800deg);
  }
  90% {
    top: -20%;
    left: 70%;
    opacity: 0.6;
    transform: rotate(2160deg);
  }
  99% {
    top: 100%;
    left: 70%;
    opacity: 0;
    transform: rotate(2160deg);
  }
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(270deg);
  }
  40% {
    transform: rotate(390deg);
  }
  60% {
    transform: rotate(630deg);
  }
  80% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
